@using NetBanking.Core.Application.ViewModels.Transaction;
@model List<TransactionViewModel>;



<head>
    <link rel="stylesheet" href="~/css/tableadmin.css" />
</head>

<h3 class="text-center text-light" style="margin-top: 20px;">Historial de Transacciones <img src="~/Iconos/historial-de-transacciones.png" style="width: 60px; height: 60px; margin-left: 7px;" /></h3>

<div class="container-fluid" style="margin-top: 15px;" >
    <div class="col-8 offset-2">
        <div class="card" >
            <div class="card-body">
                <table class="table">
                    <thead>
                    <td>Fecha</td>
                    <td>Cuenta emisora</td>
                    <td>Cuenta receptora</td>
                    <td>Tipo de transaccion</td>
                    <td>Monto</td>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CreatedDate</td>
                                <td>@item.EmissorProductId</td>
                                <td>@item.ReceiverProductId</td>
                                <td>@item.Type.ToString()</td>
                                <td>@item.Cantity</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>